
.app {
  position: absolute;
  height: 100%;
  width: 100%;

}

.app > div {
  border: 5px;
}

.product-overview {
  color: blue;
  height: 25%;
}

.related-items {
  height: 25%;
}

.questions-and-answers {
  height: 25%;
}

.ratings-reviews {
  height: 25%;
}

.review-summary {
  overflow-wrap: break-word;
  font-size: 20px;
  font-weight: bold;
}

.review-helpful-option {
  text-decoration: underline;
}

.review-report-button {
  text-decoration: underline;
}



