
.app {
  position: absolute;
  height: 100%;
  width: 100%;

}

.app > div {
  border: 5px;
}

.product-overview {
  color: blue;
  height: 25%;
}

.related-items {
  height: 25%;
}

.questions-and-answers {
  height: 25%;
}

.ratings-reviews {
  height: 25%;
}

.review-summary {
  overflow-wrap: break-word;
  font-size: 20px;
  font-weight: bold;
}

.review-helpful-option {
  text-decoration: underline;
  cursor: pointer;
}

.review-report-button {
  text-decoration: underline;
  cursor: pointer;
}

.average-rating {
  font-size: 50px;
  font-weight: bold;
}

.stars-user-input {
  cursor: pointer;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

input[type="radio"] {
  display: none;
}

