
.app {
  position: absolute;
  height: 100%;
  width: 100%;

}

.app > div {
  border: 5px;
}

.product-overview {
  height: 100%;
}

.product-overview>div {
  text-shadow: -3px 4px 3px rgba(0,0,0,0.3);
}

.product-overview.container {

}

.overview-image-container {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  box-shadow: -6px 4px 5px -2px black;
  width: 1600px;
  height: 1000px;

}

.overview-product-info {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.overview-thumbnail-container {
  overflow: visible;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.overview-overlay-thumbnail {
  margin: auto;
  width: 75px;
  margin-top: 15px;
  display: flex;
  border: 2px solid black;
  box-shadow: -6px 4px 5px -2px black;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.overview-overlay-thumbnail-active {
  margin: auto;
  width: 75px;
  margin-top: 15px;
  display: flex;
  border: 2px solid black;
  box-shadow: -6px 4px 5px -2px black;
  padding: 5px;
  border-radius: 4px;
  transition: transform .3s ease;
  transform: translate(-10%, 0)
}


.overview-overlay-thumbnail:hover {
  box-shadow: 0 0 0px 4px rgba(0, 140, 186, 0.5);
}

.collapse-and-info-container {
  width: 30%;
  position: relative;
  display: flex;
}

.overview-expanded-product-panel {
  position: relative;
  overflow: hidden;
  display: inline-block;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 1.0);
  box-sizing: border-box;
  z-index: 1;
  transition: transform 2.0s ease;
  /* transform: translate(102%, 0) */
}

.overview-expanded-product-panel-slide {
  position: relative;
  overflow: hidden;
  display: inline-block;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 1.0);
  box-sizing: border-box;
  z-index: 1;
  transition: transform 2.0s ease;
  transform: translate(102%, 0)
}

/* .overview-expanded-product-panel-slide-out {
  transform: translate(100%, 0)
} */


.overview-expanded-product-panel>div {
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;

}

.overview-expanded-product-panel>div:first-child{
  padding-top: 40px;
}

.overview-expanded-product-panel>div:last-child{
  padding-bottom: 40px;
}

.stars-container {
  font-size: 20px;
  font-weight: bold;
  height: 10%;
}

.overview-category {
  height: 5%;
  font-size: 30px;
  font-weight: bold;

}

.unslide-panel>div {
  box-shadow: -6px 4px 5px -2px black;
  background: RGB(247, 202, 201)
}


.overview-expanded-product-info {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25%;
  max-height: 35%;
}

.overview-expanded-product-info-name {
  margin-top: auto;
  align-self: center;
  padding-left: 0;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  width: 100%;
}

.overview-expanded-product-info-style {
  max-width: 40%;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: red;
  margin-top: auto;
}

.overview-purchase-info {
  height: 20%;
}

.overview-styles-container {
  height: 35%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 4;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.overview-styles-container>div:last-child {
  margin-right: auto;
}


.style-object-thumbnail {
  margin: auto;
  margin-top: "auto";
  width: 74px;
  height: 74px;
  margin-left: 0;
  border-radius: 50%;
  box-shadow: 10px 2px 5px -2px rgb(148, 147, 147);
}

.style-object-thumbnail-active {
  margin: auto;
  margin-top: "auto";
  width: 74px;
  height: 74px;
  margin-left: 0;
  border-radius: 50%;
  box-shadow: 0 0 0px 3px red;
  z-index: 1
}

.style-object-thumbnail:hover {
  box-shadow: 10px 2px 5px -2px rgb(98, 98, 98);
}

.overview-expanded-product-info-price {
  font-weight: bold;
  font-size: 25px;
}

.overview-expanded-product-info-price-struck {
  font-weight: bold;
  font-size: 25px;
  text-decoration: line-through;
}

.overview-overlay-thumbnail-active {
  margin: auto;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
  display: flex;
  border: 2px solid black;
  padding: 5px;
  border-radius: 4px;
}

img {
  display:block;
  margin:auto;
}

.overview-expanded-product-info-prices {
  margin-right: auto;
  font-weight: bold;
  font-size: 25px;
}

.overview-expanded-product-info-different-price {
  margin-left: 20px;
  font-weight: bold;
  font-size: 25px;
  color: red;
}

.style-object-thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-top: 10px;
  border-radius: 50%;
  width: 25%;
}

.overview-overlay-thumbnail:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


.style-object-thumbnail:active {
  transform: scale(0.95);
  box-shadow: 10px 2px 5px -2px rgb(98, 98, 98);
}


.collapse-button-container {
  height: 2%;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 15px;
  z-index: 2;
}

.thumbnail-scroll-button-up {
  height: 10px;
  width: 100%;
  background: white;
  text-align: "center";
  margin-bottom: "auto";
}

.thumbnail-scroll-button-down {
  height: 10px;
  width: 100%;
  background: white;
  text-align: "center";
  margin-top: "auto";
}

.button-thumbnails-container {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  height: 80%;
  width: 10%;
  background-color: transparent;
  border-color: black;
  overflow: hidden;
}

.button-thumbnails-container>div:first-child {
  text-align: center;
}

.button-thumbnails-container>div:last-child {
  text-align: center;
}

.overview-purchase-info {
  padding: 20px;
  display: table;
  width: 100%;
}

.purchase-style-name {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.purchase-buttons-container1 {
  display: inline-block;
  width: 100%;
}

.purchase-buttons-container2 {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}

.quantity-selector {
  float: right;
  height: 40px;
  width: 120px;
  text-align: center;
}

.add-to-cart {
  text-shadow: 0 0 black;
  display: flex;
  float: right;
  width: 200px;
  height: 40px;
  border: 1px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  background-color: RGB(239, 192, 80);
  border: 1px solid #8ca4c8;
  box-shadow: 10px 8px 5px -2px rgb(148, 147, 147);
}

select {
  height: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: -moz-linear-gradient(
		top,
		#ffcb69 0%,
		#f0a733 50%,
		#f2a324 92%,
		#ffb730);
  box-shadow: 10px 8px 5px -2px rgb(148, 147, 147);
}

select>options {
  box-shadow: 10px 8px 5px -2px rgb(148, 147, 147);

}

select:focus {
  outline: none;
}

select:active {
  padding: 0 0 0px 6px;
}

.select:focus:visited {
  outline: none;
  box-shadow: none;
}

select {
  background-color: #ffffff;
  border: 1px solid #8ca4c8;
  cursor: pointer;
}

select option:checked {
  background-color: #c4e3ff;
}

.slide-panel {
  box-shadow: -6px -4px 5px -2px black;
  position: relative;
  display: inline-block;
  transition: transform 1.0s ease;
  transform: translate(103%, 0);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.slide-panel>div {
  background-color: RGB(247, 202, 201);
}

.unslide-panel {
  position: relative;
  display: inline-block;
  transition: transform 1.0s ease;
  width: 100%;
  height: 100%;
  z-index: 1
}

.size-selector {
  width: 250px;
}

select:active {
  transform: scale(0.98);
}

.add-to-cart:active {
  transform: scale(.95);
}

.select-prompt-fadeIn {
  animation: fadeIn .5s;
}

.select-prompt-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .3s, opacity .3s linear;
}

/* .select-prompt-fadeOut::after {
  opacity: 0;
} */

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  100% {opacity: 0;}
  0% {opacity: 1;}
}



/* .overview-expanded-product-panel-slide {
  position: relative;
  overflow: hidden;
  display: inline-block;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 1.0);
  box-sizing: border-box;
  z-index: 1;
  transition: transform 2.0s ease;
  transform: translate(102%, 0)
} */


/* border: 2px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 150px; */


.related-items {
  height: 25%;
}

.questions-and-answers {
  height: 25%;
}

.ratings-reviews {
  height: 25%;
}

.review-summary {
  overflow-wrap: break-word;
  font-size: 20px;
  font-weight: bold;
}

.review-helpful-option {
  text-decoration: underline;
  cursor: pointer;
}

.review-report-button {
  text-decoration: underline;
  cursor: pointer;
}

.average-rating {
  font-size: 50px;
  font-weight: bold;
}

.stars-user-input {
  cursor: pointer;
}

.stars:before {
  content: '★★★★★';
  letter-spacing: 5px;
  background: linear-gradient(
    90deg,
    gold var(--percent),
    lightgrey var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 15px;
  font-family: Times;
  line-height: 1;
}


.bars:before {
  content: '-------';
  letter-spacing: 30px;
  background: linear-gradient(
    90deg,
    #ace1af var(--percent),
    lightgrey var(--percent)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bars:hover:before {
  letter-spacing: 30px;
  background: linear-gradient(
    90deg,
    rgb(103, 214, 134) var(--percent),
    rgb(177, 177, 177) var(--percent)
  );
  cursor: pointer;
  box-shadow: 0 4px 15px 0 rgba(68, 70, 69, 0.75);
  -webkit-text-fill-color: transparent;
}


.bars {
  --percent: calc(var(--rating) * 100%);
  margin-left: 5px;
  display: inline-block;
  font-size: 8px;
  font-family: Times;
  line-height: 1;
}

.rating-bar-label {
  text-decoration: underline;
}

.rating-bar-label:hover {
  cursor: pointer;

}

input[type="radio"] {
  display: none;
}

